article:nth-of-type(3) {
    background-color: $yellow;
    animation-name: delayedAppear;
    animation-duration: 2.5s;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 75px 0 30px 0;
        position: relative;
    }
    .email-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        fieldset {
            width: 100%;
            border: none;
            max-width: 497px;
            input {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.5;
                color: $gray;
                width: 100%;
                border:none;
                background: $yellow;
                outline: none;
            }
            p {
                position: absolute;
                font-size: 14px;
                font-weight: 300;
                line-height: 1;
                color: $gray;
                top: 4px;
                pointer-events: none;
                span {
                    color: $gray;
                }
            }
            input:not(:placeholder-shown) + p {
                display: none;
            }
            @media (min-width: 768px) {
                input, p, .error-message {
                    font-size: 20px;
                }
            }
        }
    }
    @media (min-width: 640px) {
        .email-input {
            flex-direction: row;
            #submitButton {
                margin-left: 30px;
            }
        }
    }
    
    .button {
        width: 140px;
        height: 45px;
        margin-top: 20px;
        cursor: pointer;
        .arrow-right {
            transition: 0.3s ease-in-out;
        }
        &:hover {
            .arrow-right {
                transform:translateX(15px);
            } 
        }   
        input[type=submit] {
            display: none;
        }
    }
    .line {
        max-width: 497px;
        width: 100%;
        height: 3px;
        background-color: $gray;
        margin-top: 5px;
    }
    .success-message {
        opacity: 1;
        pointer-events: all;
        font-weight: bold;
        font-size: 20px;
        line-height: 3.5;
        color: #2D2525;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        .checkmark {
            width: 28px;
            height: 28px;
            border: 3px solid black;
            border-radius: 50%;
            background-image:url('assets/checkmark.svg');
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: center;
            flex-shrink: 1;
            margin-right: 12px;
        }
        p {
            font-size: 20rem;
            color: #2D2525;
        }
    }
    .error-message {
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 1;
        color: #2D2525;
        text-align: left;
        margin-top: 11px;
    }    
    .hidden {
        opacity: 0;
        pointer-events: none;
    }
    .disabled {
        display: none;
    }
}