article:nth-of-type(1) {
    padding: 140px 20px 20px 20px;
    position: relative;
    background-image:url('assets/group4.jpg');
    background-size: cover;
    background-origin: border-box;
    .wrapper {
        flex-direction: column;
    }
    h2 {
        font-size:50rem;
        line-height: 1.7;
        font-weight: 200;
        animation-name: fromLeft;
        animation-duration: 1.5s;
        animation-delay: 1s;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
        span {
            font-size: 90rem;
            line-height: 0.94;
            position: relative;
            z-index: 1;
            &::after { //yellow rectangle
                content:"";
                position:absolute;
                width: 320px;
                height: 25px;
                background-color: $yellow;
                bottom: -5px;
                left: -264px;
                z-index: -1;
            }
            @media (min-width: 375px) {
                &::after {
                    height: 27px;
                    left: -258px;
                }
            }
            @media (min-width: 425px) {
                &::after {
                    height: 32px;
                    left: -245px;
                }
            }
            @media (min-width: 768px) {
                &::after {
                    height: 40px;
                    left: -220px;
                }
            }
            @media (min-width: 1024px) {
                &::after {
                    height: 47px;
                    left: -196px;
                }
            }
        }
    }
    p {
        margin-top: 41px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.25;
        max-width: 523px; 
    }
    .scroll-down {
        margin-top: 100px;
        align-self: center;
        span {
            font-weight: 300;
            font-size: 10px;
            line-height: 1.2;
            letter-spacing: 2px;
            text-transform: uppercase;
            opacity: 0.4;
        }
        .arrow-down{
            margin-top: 13px;
            display: flex;
            flex-direction: column;
            animation-name: pointingDown;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-play-state: running;
            animation-direction: alternate-reverse;
            animation-timing-function: ease-in-out;
            svg {
                align-self: center;
            }
        }
    }
}
@media (min-width: 375px) {
    article:nth-of-type(1) {
        padding-top: 150px;
    }
}
@media (min-width: 768px) {
    article:nth-of-type(1) {
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 160px;
    }
}