footer {
    opacity: 0.44;
    border: 1px solid #69757F;
    box-sizing: border-box;
    padding: 23px 20px;
    span {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.2;
        color: #69757F;
    }
}