footer {
    border: 1px solid rgba(105, 117, 127, 0.44);
    box-sizing: border-box;
    padding: 23px 20px;
    margin-top: 90px;
    .wrapper {
        display: flex;
        justify-content: center;
    }
    @media (min-width: 375px){
        .wrapper {
            justify-content: space-between;
        }
    }
    span {
        font-weight: 300;
        font-size: 14px; 
        line-height: 1.2;
        color: #69757F;
    }
    .footprint {
        display: flex;
        align-items: center;
        .logo {
            width: 125px;
            height: 42px;
            background:url('assets/object.svg');
            background-size: cover;
            filter: opacity(0.44) ;
            margin-right: 20px;
            display: none;
        }
        .line {
            height: 54px;
            border: 1px solid #424951;
            margin-right: 20px;
            display: none;
        }
        .copyright {
            display: none;
        }
        @media (min-width:375px) {
            .copyright {
                display: block;
            }
        }
        @media (min-width: 768px) {
            .logo {
                display: block;
            }
            .line {
                display: block;
            }
        }
    }
    
    .social-media{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .social-media-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(245, 193, 35, 0.1);
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        filter: saturate(0) opacity(0.44);
        transition: 0.2s ease-in-out;
        cursor:pointer;
        &:hover {
            filter: saturate(1) opacity(1);
        }
    }
    .social-media-icon:last-of-type {
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    footer {
        padding: 23px 40px;
    }
}