footer {
    border: 1px solid rgba(105, 117, 127, 0.44);
    box-sizing: border-box;
    padding: 23px 20px;
    .wrapper {
        display: flex;
        justify-content: center;
    }
    span {
        font-weight: 300;
        font-size: 14px; 
        line-height: 1.2;
        color: #69757F;
    }
    .footprint {
        .copyright {
            display: none;
        }
    }
    .social-media{
        display: flex;
        flex-direction: row;

    }
    .social-media-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(245, 193, 35, 0.1);
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        filter: saturate(0) opacity(0.44);
    }
    .social-media-icon:last-of-type {
        margin-right: 0;
    }
}